name: build protobuf
on:
  push:
    branches:
      - master

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: Install Protoc
        uses: arduino/setup-protoc@v1
      - uses: actions/setup-node@v3
        with:
          node-version: "16"
          registry-url: "https://registry.npmjs.org"
      - uses: actions/checkout@v1
        with:
          fetch-depth: 1
      - run: |
          git checkout master
      - name: Build
        run: |
          make npm/deps
          export GOPATH=$HOME/go
          make all
          make vald/sha/update
          make vald/client/node/version/update
          rm -rf vald
      - name: npm update
        run: |
          npm update
      - name: commit and push
        run: |
          sha=`make vald/sha/print`
          git config --global user.name 'vankichi'
          git config --global user.email 'kyukawa315@gmail.com'
          git remote set-url origin https://${GITHUB_USER}:${GITHUB_TOKEN}@github.com/$GITHUB_REPOSITORY
          git add .
          git commit -m "Update [vald sha: ${sha}]"
          git push
        env:
          GITHUB_USER: ${{ secrets.CI_USER }}
          GITHUB_TOKEN: ${{ secrets.CI_TOKEN }}
      - name: tag
        continue-on-error: true
        run: |
          version=`make vald/client/node/version/print`
          git tag ${version}
          git push --tags
