name: build protobuf
on:
  repository_dispatch:

jobs:
  build:
    name: build and publish
    runs-on: ubuntu-latest
    steps:
      - name: Install Protoc
        uses: arduino/setup-protoc@v1
      - uses: actions/setup-node@v1
        with:
          node-version: '10'
          registry-url: 'https://registry.npmjs.org'
      - uses: actions/checkout@v1
        with:
          fetch-depth: 1
      - run: |
          git checkout master
      - name: Build
        run: |
          make npm/deps
          export GOPATH=$HOME/go
          make all
          make vald/sha/update
          make vald/client/node/version/update
          rm -rf vald
      - name: commit and push
        run: |
          sha=`make vald/sha/print`
          git config --global user.name 'VDaaS org'
          git config --global user.email 'ci@vdaas.org'
          git remote set-url origin https://${GITHUB_USER}:${GITHUB_TOKEN}@github.com/$GITHUB_REPOSITORY
          git add .
          git commit -m "[skip ci] Update [vald sha: ${sha}]"
          git push
        env:
          GITHUB_USER: ${{ secrets.CI_USER }}
          GITHUB_TOKEN: ${{ secrets.CI_TOKEN }}
      - name: tag
        continue-on-error: true
        run: |
          version=`make vald/client/node/version/print`
          git tag ${version}
          git push --tags
      - name: publish
        run: |
          npm install
          npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
